<div class="dev material">
  

  <div class="hero" style="height:230px">
    <img interchange="
                    [/img/design-hero-medium.png, (medium)],
                    [/img/design-hero-large.png, (large)]"
        src="/img/design-hero-small.png" >
    <div class="layover">
      <div class="row center-v">
        <div class="medium-8 medium-centered column text-center">
          <h2>Design with the future in mind</h2>
        </div>
      </div>
    </div>
  </div>   

  <div class="row">
    <div class="large-7 small-centered column text-center mt40">
      <p>We want to see your vision to <b>come to life</b>. Our passion is to create <b>efficient</b>, <b>professional</b> and <b>quality</b> work that keeps you <b>motivated</b> to fulfill your dreams. All of our designs works on all common platforms to keep your brand and vision <b>coherent</b> from phone, to tablet to computer.</p>
    </div>
  </div>
  <div class="row mt10">
    <div class="large-10 medium-centered column mt40">
      <ul class="medium-block-grid-4 small-block-grid-1 text-center phases">
        <li class="discovery">
          <i class="fa fa-binoculars"></i> 
          <span class="title">Discovery</span>
          <p>Step one is to sit down and do some good old fashion research</p>
        </li>
        <li class="sketching">
          <i class="fa fa-pencil"></i>
          <span class="title">Sketching</span>
          <p>There is no substitute for a number 2 pencil and a piece of grid paper</p>
        </li>
        <li class="mockup">
          <i class="fa fa-picture-o"></i>
          <span class="title">Mock-up</span>
          <p>We then create a full vector image based on the approved sketchs</p>
        </li>
        <li class="review">
          <i class="fa fa-check-square-o"></i>
          <span class="title">Review</span>
          <p>This is a chance for you to make small changes and tweeks till it's just right</p>
        </li>
      </ul>  
    </div>
  </div>
  <div class="row">
    <div class="column medium-6 medium-centered mt80 mb60">
      <a href="contact" class="button layer-1 secondary radius expand">Share Your Project With Us</a>
    </div>
  </div>


</div>