<div class="design material">
  

  <div class="hero" style="height:230px">
    <img interchange="
                    [/img/thin-workspace-medium.png, (medium)],
                    [/img/thin-workspace-large.png, (large)]"
        src="/img/thin-workspace-small.png" >
    <div class="layover">
      <div class="row center-v">
        <div class="medium-8 medium-centered column text-center">
          <h2>Powered by development</h2>
        </div>
      </div>
    </div>
  </div>   

  <div class="row">
    <div class="large-7 small-centered column text-center mt40">
      <p><b>Communication</b> is key. You will always be kept in the loop! Once you meet your contact here at Harrington Creative they will <b>stick with you</b> for the life of your project and beyond. This ensure your <b>always up to date</b> and your know exactly where to direct any questions.</p>
    </div>
  </div>
  <div class="row mt10">
    <div class="large-12 column mt40">
      <ul class="medium-block-grid-5 small-block-grid-1 text-center phases">
        <li class="discovery">
          <i class="fa fa-binoculars"></i> 
          <span class="title">Discovery</span>
          <p>Step one is to sit down and do some good old fashion research</p>
        </li>
        <li class="brainstorming">
          <i class="fa fa-lightbulb-o"></i>
          <span class="title">Brainstorming</span>
          <p>To the think tank to come up with the next awesome thing!</p>
        </li>
        <li class="mockup">
          <i class="fa fa-picture-o"></i>
          <span class="title">Mockup</span>
          <p>We then take the approved idea to the white board and create a prototype</p>
        </li>
        <li class="creation">
          <i class="fa fa-code"></i>
          <span class="title">Creation</span>
          <p>Now that the vision is clear we start development. You will be connected through the who process</p>
        </li>
        <li class="review">
          <i class="fa fa-check-square-o"></i>
          <span class="title">Review</span>
          <p>This is a chance for you to make a few small changes and tweaks till its just right</p>
        </li>
      </ul>  
    </div>
  </div>
  <div class="row">
    <div class="column medium-6 medium-centered mt80 mb60">
      <a href="/contact" class="button layer-1 secondary radius expand">Share Your Project With Us</a>
    </div>
  </div>


</div>