<div class="contact material">
  
  <div class="row">
    <div class="large-12 column text-center mt60">
      <h1>We Want to Work With You</h1>
      <h6 class="subheader mt20">Tell us about your project and we will get in touch within 24 hours</h6>
    </div>
  </div>

  <div class="row mt60 pb60">
    <div class="large-8 column medium-centered">
      <form name="contactForm" ng-submit="sendPush()" novalidate>
        <div class="medium-6 column">
          <input type="text" name="name" ng-model="message.name" ng-minlength="2" required placeholder="Your Name">
          <small class="oops" ng-show="contactForm.name.$invalid && contactForm.$submitted">Please fill out a name</small>
        </div>
        <div class="medium-6 column">
          <input type="text" name="company" ng-model="message.company" placeholder="Company Name">
        </div>
        <div class="medium-6 column">
          <input type="email" name="email" ng-model="message.email" required placeholder="Email Address">
          <small class="oops" ng-show="contactForm.email.$invalid && contactForm.$submitted">Please use a valid email address</small>
        </div>
        <div class="medium-6 column">
          <input type="text" name="phone" ng-model="message.phone" required placeholder="Phone Number" ng-minlength="10" ng-maxlength="15" >
          <small class="oops" ng-show="contactForm.phone.$invalid && contactForm.$submitted">Please use a valid phone number</small>
        </div>
        <div class="large-12 column">
          <textarea name="message" ng-model="message.message" placeholder="Briefly explane your project..."></textarea>
        </div>
        <div class="large-12 column">
          <button class="button secondary expand">Send Message</button>
        </div>
      </form>
    </div>
  </div>

</div>


<script type="text/ng-template" id="myModalContent.html">
  <h4 class="mt20 text-center">Thank you for your submition! <br> We'll be in touch</h4>
  
  <button class="button right" ng-click="$close()">OK</button>
  <a class="close-reveal-modal" ng-click="$dismiss()">&#215;</a>
</script>

