<div class="home text-center material">
  
  <div class="hero">
    <img interchange="[/img/hero-small.png, (small)],
                    [/img/hero-medium.png, (medium)],
                    [/img/hero-large.png, (large)]"
        src="/img/hero-small.png" >
    <div class="layover">
      <div class="row center-v">
        <div class="medium-8 medium-centered column text-center">
          <h2>Challenge the Status Quo</h2>
          <p class="mt25">
            <span class="lead">
              <b>Harrington Creative</b> is a design and development studio. <br>
              <span class="hide-for-small" ng-bind-html="vision"></span>
            </span>
            <div> 
              <a  class="button layer-1 secondary small radius" scroll-to="learn-more" duration="1200" >Learn More About Us</a>
              <a href="/contact" class="button layer-1 secondary small radius">Share Your Project With Us</a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>    
  <p class="mb0 scroll-down"> <a href="" scroll-to="learn-more" duration="1200"><i class="fa fa-chevron-circle-down fa-inverse"></i></a> </p>
  <div class="row">
    <div class="large-12 column text-center" id="learn-more">
        
        <p ng-bind-html="vision" class="show-for-small mt40"></p>
    

      
        <div class="row collapse points">
          <div class="small-12 mt60">
            <h2>We work hard to make you look good</h2>
          </div>
          <div class="medium-4 column mt60">
            <i class="fa fa-bullhorn fa-5x"></i>
            <h3>Communication</h3>
            <p>We keep you <b>informed</b>! Whether you're just getting started or you're mid way through the long haul. You will <b>always</b> feel connected.</p>
          </div>
          <div class="medium-4 column mt60">
            <i class="fa fa-star fa-5x"></i>
            <h3>Quality</h3>
            <p>Anything worth doing is worth doing <b>right</b>! Our goal is to deliver <b>unmatched quality</b> on time every time.</p>
          </div>
          <div class="medium-4 column mt60">
            <i class="fa fa-code fa-5x"></i>
            <h3>Technology</h3>
            <p>We use <b>leading edge</b> technology. So that you stay ahead of the curve and <b>impress</b> your customer</p>
          </div>
        </div>
        
        <div class="row">
          <div class="large-10 column large-centered">
            
            <div class="column medium-6 mt80 mb60">
              <a href="/services/development" class="button layer-1 secondary radius expand">See Our Services</a>
            </div>
            <div class="column medium-6 mt80 mb60">
              <a href="/contact" class="button layer-1 secondary radius expand">Share Your Project With Us</a>
            </div>
          </div>
        </div>

    </div>
  </div>

</div>





<!-- DO SOMETHING WIHT THIS!!!! IM LOOKING AT YOU JAMES -->
<script type="text/javascript">
  $(function(){

    function heroHeight(){$('.home .hero').css('height', $(window).height() - $('header').outerHeight())}
    heroHeight();
    window.addEventListener('resize', function(event){
      heroHeight()
    }); 

  });
</script>