<div class="ourwork-workpage text-center material">
  
  <div class="row">
    <div class="large-8 medium 10 medium-centered  large-uncentered column mt20">
      <div id="imageHolder">
        <img src="{{img}}" ng-repeat="img in work.imgs track by $index" class="mb40 layer-2">
      </div>
    </div>
    <div floater class="large-4 column" >
      <h2 id="title">{{work.title}}</h2> 
      <div id="info">{{work.info}}</div>
     

      <a href="/contact" class="button secondary layer-1 expand">Share your project!</a>
    </div>
  </div>
  <div class="row">
    <div class="large-8 column medium-centered">
      <a href="/ourwork/{{next.slug}}" class="button layer-1 expand">View Next Project</a>
    </div>
  </div>
</div>