<div class="ourwork text-center material">
  
  <div class="row">
    <div class="large-12 column mt80 pb30">
      <ul class="small-block-grid-1 large-block-grid-4 medium-block-grid-3 grid">
        <li ng-repeat="w in works track by $index" >

          <div class="show-for-medium-down text-left" >
            <h4>{{w.title}}</h4>
          </div>
          <div class="wrap">
            <a href="/ourwork/{{w.slug}}">
              <img src="{{w.img}}" alt="" width="100%">
              <div class="layover hide-for-small">
                <h4 class="mt15">{{w.title}}</h4>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>  
  </div>

</div>