
.title{
  font-size: rem-calc(20);
  display: inline-block;
  line-height: 1;
  @extend .mb15
}
.phases i.fa {
  position: relative;
}
.discovery i.fa{
  top:-3px
}
.sketching i.fa{
  top: -2px;
  font-size: 20px;
}
.mockup i.fa{
  top: -1px;
  font-size: 18px;
}
.creation i.fa{
  top: -2px;
  font-size: 20px;
}
.review i.fa{
  font-size: 20px;
}