.grid>li{
    .wrap{
      a{
        width:100%;
        height:100%;
        display: block;
      }
      position: relative;
      @extend .layer-2;
      overflow:hidden; 
      max-height:200px;
      border-radius: $global-radius;
      img{
        position: relative;
        width:150%;
        max-width: 150%;
        right: 50%;
        transform: translateX(16%);
      }
  }
  .layover{
    h1,h2,h3,h4,h5,h6{color:$white;}
    color:$white;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
    &:hover{
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}