
<!DOCTYPE html>
<html lang="en" ng-app="hc"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="title || 'Harrington Creative' "></title>
  <base href="/">
  <link rel="icon" href="/img/jyd_logo.png" />
  <meta name="description" content="Send Secreate message with My Wingman App">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="app.min.css"/>
 
  <style>
    .browser-happy{
      position: fixed;
      width:100%;
      height:100%;
      display: none;
      background-color: #f5f5f5;
      z-index: 1000;
    }
  </style>
  <!--[if lte IE 8]>
    <style> .browser-happy{ display: block; } </style>
  <![endif]-->
</head>
<body>
  
  <div class="browser-happy text-center" ng-hide="browserHappy">
    <div class="mt30">
      This site may not be as awesome or may not even work in your browser! <br>
      Try upgrading by clicking this link <a href="http://browsehappy.com/?locale=en">Browse happier ></a>
      <div class="mt40" >or to continue to the site at your own risk click &nbsp; <span class="button tiny secondary" ng-click="browserHappy = true">Continue</span></div>
    </div>
  </div>

  <div id="non-footer-wrap">
    <header class="layer-2">
      <div class="row pt20 pb20 show-for-medium-up">
        <div class="column large-12">
          <img src="/img/logo242x119.png" alt="Harrington Creative Logo" class="center"> 
        </div>
      </div>

      <div class="menu-wrap sticky" ng-controller="menuBarCtrl">
        
            <top-bar scrolltop="false">
              <ul class="title-area">
                <li class="name">
                  <img src="/img/logo242x119.png" alt="Harrington Creative Logo" class="show-for-small" style="max-height: 100%;"> 
                </li>
                <li toggle-top-bar class="menu-icon"><a href=""><span></span></a></li>
              </ul>

              <top-bar-section>
                
                <!-- Right Nav Section -->
                <ul class="right">
                  <li ng-class="currentPage('home')"><a href="/">Home</a></li>
                  <li ng-class="currentPage('services')" has-dropdown>
                    <a href="#">Services</a>
                    <ul top-bar-dropdown>
                      <li><a href="/services/development" ng-class="currentPage('design')">Development</a></li>
                      <li><a href="/services/design" ng-class="currentPage('design')">Design</a></li>
                      <!-- <li><a href="#">Photography</a></li> -->
                    </ul>
                  </li>
                  <li ng-class="currentPage('ourwork')" ><a href="/ourwork">Our Work</a></li>
                  <!-- <li><a href=""><img src="/img/logo242x119.png" alt="Harrington Creative Logo"> </a></li> -->
                  <li ng-class="currentPage('contact')" ><a href="/contact">Contact</a></li>
                </ul>

              </top-bar-section>
            </top-bar>
          
      </div>
    </header>
        

    <div id="ng-view-wrap">
      <div ng-view autoscroll></div>
    </div>
  </div>

  <footer id="footer" class="layer-1">

    
        <div class="content pt20">  
          <div class="row">
            <div class="large-12 column mb30">
              <ul class="sub-nav">
                <li><a href="Home">Home</a></li>
                <li><a href="/services/development">Services - Development</a></li>
                <li><a href="/services/design">Services - Design</a></li>
                <li><a href="/ourwork">Our Work</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>

            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <div class="copyright">
                Site / Design &copy; {{thisYear}} Harrington Creative
              </div>
            </div>
          </div>

        </div>

  </footer>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-route/angular-route.min.js"></script>
  <script src="/libs/angular-cookies/angular-cookies.min.js"></script>
  <script src="/libs/angular-foundation/mm-foundation-tpls.min.js"></script>
  <script src="/libs/ngSmoothScroll/angular-smooth-scroll.min.js"></script>
  <script src="app.min.js"></script>
</body>
</html>
