
// $white       : #FFFFFF;
// $ghost       : #FAFAFA;
// $snow        : #F9F9F9;
// $vapor       : #F6F6F6;
// $white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
// $smoke       : #EEEEEE;
// $gainsboro   : #DDDDDD;
// $iron        : #CCCCCC;
// $base        : #AAAAAA;
// $aluminum    : #999999;
// $jumbo       : #888888;
// $monsoon     : #777777;
// $steel       : #666666;
// $charcoal    : #555555;
// $tuatara     : #444444;
// $oil         : #333333;
// $jet         : #222222;
// $black       : #000000;

@import 'normalize';
@import 'foundation_settings';
@import 'app-settings';
@import 'foundation_custom';
@import 'layers';







$short: "t", "b", "l", "r";
$long: "top", "bottom", "left", "right";

@for $i from 1 through length($short) {
  $s: nth($short, $i);
  $l: nth($long, $i);
  $j: 0;
  @while $j <= 100 {
    .m#{$s}#{$j} { margin-#{$l}: #{$j}px !important }
    .p#{$s}#{$j} { padding-#{$l}: #{$j}px !important }
    $j: $j + 5;
  }
  $i: $i + 1;
} // EXAMPLE .mr5 .pt100 .mb0


$k: 0;
@while $k <= 10 {
  hr.size#{$k} { border-width:#{$k}px }
  $k: $k + 1;
} // EXAMPLE .size1 .size2 etc...

// Global Styles

html, body {height: 100%;}
body{
  background: $smoke;
  color:$steel;
}
h1,h2,h3,h4,h5,h6{
  color:$oil;
}
header{background: $topbar-bg}
/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

#non-footer-wrap {
  min-height: 100%;
  @media #{$large-up} {
    margin: 0 auto;
    width:100%;
  }
}

#ng-view-wrap {
  padding-bottom: 150px; /* must be same height as the footer */
}  
#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  .content{
    height: 150px;
    background: $white;
  }
  ul.sub-nav li{ margin-left: 0}
  .copyright{
    position: absolute;
    bottom: 0;
    left: 30px;
    color: $steel;
  }
}
.menu-wrap.sticky:not(.fixed){
  position: relative;
  transition: all .15s;
  border-bottom: solid 1px $vapor;
}
.menu-wrap.sticky.fixed{
  transition: all .15s;
  @extend .layer-2;
}



.slick-prev{
  left:5px;
}
.slick-next{
  right:5px;
}
.menu-wrap{
  background: $topbar-bg;
}


.top-bar-section ul li > a {
  text-transform: uppercase;
  font-weight: 500;
}
@media #{$medium-up} { 
  nav.top-bar {
    text-align:center;
  }
  section.top-bar-section {
    display: inline-block;
    li{
      width: 150px;
    }
  }
}

.center{
  display: block;
  margin: 0 auto;
}

.center-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.button{
  
  &.primary:active{
    background-color: scale-color($primary-color, $lightness: -10%);
  }
  &.secondary:active{
    background-color: scale-color($secondary-color, $lightness: -10%);
  }
}
hr{
  border-color:$base;
}
ul.sub-nav{
  list-style: none;
}
.label{
  position: relative;
  top: -3px;
  &:hover{
    color:$white;
  }
}

 [angular-ripple] {
    position: relative;
    overflow: hidden;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
  }
  .angular-ripple.animate {
    animation: ripple 0.35s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

.button-invis {
  @include button($button-med, $invis-color);
  color:$steel;
}
ul.dropdown{
  @extend .layer-2;
}

.hero {
  width:100%;
  position: relative; 
  overflow: hidden;
  img{
    max-width: inherit;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: block;
    @media screen and (min-aspect-ratio: 100/87) { 
      width:100%;
      height: auto;
    }
  }
  .layover{
    width:100%;
    height: 100%;
    background: rgba(37,170,225, 0.4);
    position: relative;
    top:0;
    left: 0;
    .lead{
      font-size: 115%;
      line-height: 2;
    }
    h2{
      @media #{$small-only} { 
        font-size: rem-calc(25);
      }
    }
    h1,h2,h3,h4,h5,h6,p,span,div,blockquote,cite{
      color: $white;
      
    }
  }
}
[floater]{
  transition: all 0.4s ease;
  top:0;
}
small.oops{
  color:red;
  bottom: 0px;
  position: absolute;
}
.material{
  background: $white;
  @extend .layer-1;
}

.home{
  @import 'public/home';
}
.dev
{
  @import 'public/dev';
}
.ourwork{
  @import 'public/ourwork';
}
.ourwork-workpage{
  @import 'public/ourwork-workpage'
}